
.editor {
  overflow: scroll;
}

.animation-container,
.keyframes-container {
  color: white;
  font-size: 1.5em;
  font-family: 'Inconsolata', monospace;
  margin: 10px 16px;
  overflow: hidden;

  p {
    margin-top: 5px;
  }
}

.class-selector {
  color: $codeYellow
}

.ani-prop,
.keyframe-property {
  color: $codeBlue;
  margin-left: 20px;
}

p {
  span {
    color: white;
  }
}

.props-container {
  display: flex;
}

.prop-input,
.keyframe-prop-value {
  background-color: rgb(68, 68, 68);
  border: none;
  color: $codeOrange;
  flex-grow: 1;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  margin-left: 5px;
  margin-top: 5px;
  padding: 2px 5px;
}

.keyframes-section {
  margin-left: 15px;
}

.keyframes-label,
.keyframes-name {
  color: #ffce09;
}

.keyframes-label {
  background-color: rgb(68, 68, 68);
  border: none;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  margin-left: 5px;
  margin-top: 5px;
  padding: 2px 5px;
  width: 60px;
}

#name {
  background-color: rgba(0, 0, 0, 0);
}