.select-ani-popup {
  position: absolute;
  background-color: rgb(235, 235, 235);
  border: 4px solid black;
  border-radius: 18px;
  box-shadow: 0px 0px 8px 3px #ffffffbd;
  height: 75%;
  z-index: 15;
  top: 90px;
  right: 15%;
  width: 70%;

  .select-ani-container-header {
    border-radius: 13px 13px 0px 0px;
    background-color: rgb(32, 88, 151);
    color: white;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid black;
    padding: 0px;

    h2 {
      flex-grow: 1;
      text-align: center;
      width: 200px;
      padding: 6px;
    }
  }

  .close-select-ani-btn {
    background-color: rgb(32, 88, 151);
    color: white;
    text-decoration: none;
    border-radius: 12px;
    bottom: 10px; 
    position: absolute;
    font-size: 1.4em;
    right: 10px;
    padding: 2px 26px 5px;
    transition: all .3s;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: $mainBlue;
    }
  }

  .list-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: calc(100% - 40px);

    section {
      flex-grow: 1;
      overflow-y: scroll;
    }
  }

  .my-ani-header {
    border-right: 3px solid black;
    height: 100%;
  }
}

.my-animation-section {
  border-right: 3px solid black;
}

.animation-li {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid grey;
  transition: all .2s ease;

  &:hover {
    cursor: pointer;
    background-color: rgb(196, 196, 196);
    transform: scale(1.01) translateX(2px);
  }

  i {
    margin: 0px 5px;
    color: grey;

    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}

