.editor-bottom-btns-container {
  display: flex;
  justify-content: space-between;
}

.lower-btn {
  background-color: $darkBlue;
  border: 3px solid  black;
  border-radius: 16px;
  color: white;
  font-size: 1.4em;
  margin: 10px;
  padding: 2px 26px 5px;
  transition: all .3s;
  flex-grow: 1;

  &:hover {
    cursor: pointer;
    background-color: rgb(70, 90, 204);
    color: white;
    transform: scale(1.02);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:disabled:hover {
    color: black;
    cursor: default;
    transform: scale(1.00);
  }
}

.play-btn {
  background-color: rgb(44, 141, 109);

  &:hover {
    background-color:  rgb(121, 224, 161);
  }

  &:disabled:hover {
    background-color:  rgb(44, 141, 109);
    color:white;
  }
}

.copy-btn {
  text-decoration: none;
  text-align: center;
}

.stop-btn {
  background-color: $stopRed;

  &:hover {
    background-color: rgb(190, 47, 47);
  }

  &:disabled:hover {
    background-color: $stopRed;
    color: white;
  }
}

.copy-paste-popup {
  color: white;
}

.copy-code-btn {
  border: 2px solid black;
  border-radius: 6px;
  background-color: rgb(56, 55, 55);
  color: white;
  font-size: 1em;
  margin: 5px;
  padding: 2px 4px 4px;
  transition: all .2s;

  &:hover {
    cursor: pointer;
    background-color: $darkBlue;
    transform: scale(1.03);
  }
}

.close-popup-btn {
  background-color: rgb(56, 55, 55);
  border-radius: 50%;
  border: 2px solid black;
  color: white;
  padding: 5px 8px;
  position: absolute;
  right: 5px;
  top: 5px; 
  transition: all .2s;

  &:hover {
    cursor: pointer;
    background-color: $darkBlue;
    transform: scale(1.03);
  }
}

.copied {
  background-color: #2c8d6d;

  &:hover {
    background-color: #2c8d6d;
    transform: scale(1);
  }
}