.copy-paste-popup {
  background-color: rgb(78, 78, 78);
  border: 4px solid black;
  border-radius: 12px;
  position: absolute;
  bottom: 115px;
  left: 37px;
  width: 500px;
  z-index: 2;
}


.popup-container {
  margin: 10px;
}

.popup-prop-value {
  background: none;
  bottom: 6px;
  left: -3px;
  position: relative;
}

.copy-popup-label {
  font-family: 'Roboto slab', serrif;
  margin-bottom: 6px;
}

.popup-prop-label {
  margin: 0px;
}

.popup-prop-container {
  display: flex;
}

.popup-ani-prop {
  margin-left: 5px;
}

textarea {
  background-color: rgb(53, 52, 52);
  border-color: $mainBlue;
  color: white;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  padding: 8px 7px;
  resize: none;
  width: 97%;
}

.keyframe-text {
  height: 170px;
}