* {
  margin: 0px;
  outline:none;
  padding: 0px;
}

body {
  background-image: url('./images/space.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.767);
  background-size: cover;
  height: 100%;
  padding: 0px;
}

.main-title {
  color: white;
  font-family: 'Roboto slab', serrif;
  font-size: 3.5em;
  margin: 7px;

  span {
    color: $mainBlue;
  }
}

header {
  background-color: rgb(18, 29, 44);
  display: flex;
  justify-content: center;
  padding: 5px;

  button {
    background-color: $darkBlue;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 1.3em;
    margin-right: 10px;
    margin-top: 24px;
    padding: 6px 18px;
    transition: all .3s;

    &:hover + .examples-list {
      animation: slideDown .3s ease;
      animation-fill-mode: forwards; 
      display: block;
    }
  }
}

.header-btn-container {
  position: absolute;
  top: 5px;
  left: 28px;

  &:hover .load-example-btn {
    background-color: rgb(70, 90, 204);
    cursor: pointer;
    transform: scale(1.02);
  }

  &:hover .load-example-btn .fa-caret-right {
    color: white;
    transform: rotate(90deg);
  }
}

.fa-caret-right {
  left: 6px;
  position: relative;
  top: 1px;
  transition: all .3s;
}

.examples-list {
  background-color: white;
  border: 2px solid black;
  display: none;
  height: 422px;
  overflow: scroll;
  position: absolute;
  list-style: none;
  transition: all 2s;
  width: 177px;
  z-index: 4;

  &:hover {
    animation: slideDown .3s ease;
    display: block;
  }

  a {
    text-decoration: none;
    color: black;

    &:visited {
      color: black
    }
  }

  li {
    padding: 4px;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;

    &:hover {
      background-color: $darkBlue;
      cursor: pointer;
      color: white;
    }
  }
}

.questions-btn {
  border-radius: 12px;
  padding: 6px 14px;
  position: absolute;
  top: 5px;
  right: 20px;
  

  &:hover {
    cursor: pointer;
    background-color: rgb(70, 90, 204);
    transform: scale(1.05);
  }
}

main {
  display: grid;
  grid-template-columns: 3fr 2fr; 
  margin: 5px 30px;
}
