@import './vars';

.viewer-component {
  height: 550px;
  margin: 14px 12px;
}

.current-animation-label {
  color: white;
  float: right;
  margin: 8px 2px;
  font-family: 'Roboto slab', serrif;
}

.viewer-container {
  background-image: none;
  background-color: rgba(28, 25, 116, 0.185);
  border: 4px solid black;
  box-shadow: 0px 0px 8px 3px #ffffffbd;
  border-radius: 12px;
  height: 551px;
  overflow: hidden;
  width: 100%;
}

.viewer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.viewer-bottom-btns-container {
  float: right;
}

.square {
  align-items: center;
  border-radius: 12px;
  border: 5px solid rgba(214, 214, 214, 0.459);
  color: black;
  display: flex;
  height: 100px;
  font-size: 1.8em;
  justify-content: center;
  margin: 20px;;
  width: 100px;
}

.square-0 {
  background-image: linear-gradient(to top right,  $darkBlue,rgb(239, 234, 204));

  h4 {
    font-size: .5em;
    text-shadow: 1px 1px 1px black;
  }
}

.square-1 {
  background-color: rgb(85, 194, 118);
}

.square-2 {
  background-color: rgb(145, 85, 194);
}


