
@import 'normalize.scss';
@import 'vars.scss';
@import 'main.scss';
@import 'animation.scss';
@import 'button.scss';
@import 'editor.scss';
@import 'viewer.scss';
@import 'copy_paste.scss';
@import 'infoPopup.scss';
@import 'login.scss';
@import 'signUp.scss';
@import 'animationMenu.scss';
@import 'createAnimationForm.scss';

html {overflow: -moz-scrollbars-none;}
::-webkit-scrollbar { display: none; }
:-moz-any(#content,#appcontent) browser{
  margin-right:-14px!important;
  overflow-y:scroll;
  margin-bottom:-14px!important;
  overflow-x:scroll;
 }

body::-webkit-scrollbar { width: 0 !important }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }