@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$mainBlue: rgb(48, 180, 138);
$goGreen: #26B177;
$stopRed: #C25555;
$darkBlue: #556DC2;

