@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$mainBlue: rgb(69, 163, 235);
$goGreen: #26B177;
$stopRed: #C25555;
$darkBlue: rgb(59, 74, 129);

